@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Localization
@using EventManagementWeb.Services

@inject SignInManager<EventManagementUser> SignInManager
@inject UserManager<EventManagementUser> UserManager
@inject IMyUser user

@{
    EventManagementUser _user = user.User;
}

@{
    string languageId = "en";
    string cookieCulture = Context.Request.Cookies[CookieRequestCultureProvider.DefaultCookieName];
    if (cookieCulture != null)
    {
        languageId = cookieCulture.Substring(2, 2);
    }
    string languageName = Language.Languages.FirstOrDefault(l => l.Code == languageId).Name;
    var thisPage = string.IsNullOrEmpty(Context.Request.Path) ? "~/index.html" : $"~{Context.Request.Path.Value}";
}

<ul class="navbar-nav">

    <li class="nav-item dropdown">
        <a class="nav-link text-dark dropdown" data-bs-toggle="dropdown">@languageName</a>
        <ul class="dropdown-menu">
            @foreach (Language language in Language.Languages)
                if (language.Code != languageId)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark"
                           asp-controller="Languages"
                           asp-action="ChangeLanguage"
                           asp-route-code="@language.Code"
                           asp-route-returnUrl="@thisPage">@language.Name</a>
                    </li>
                }
        </ul>
    </li>

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@_user.FirstName @_user.LastName</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
